*.pyc
*.o
*.so

dpcomp_core/monolithic/thirdparty/Acs12/build
dpcomp_core/monolithic/thirdparty/xiaokui/build
dpcomp_core/monolithic/thirdparty/xiaokui/structFirst_wrap.cpp
dpcomp_core/monolithic/thirdparty/xiaokui/structFirst.py

dpcomp_core/monolithic/ahp/build/
dpcomp_core/monolithic/dawa/build/

dpcomp_core/monolithic/ahp/lib/ahp_fast.c

dpcomp_core/monolithic/dawa/cutils/cutil_wrap.cpp

dpcomp_core/monolithic/dawa/cutils/cutil.py
